.auth {
    margin: 3rem auto;
    width: 95%;
    max-width: 25rem;
    border-radius: 6px;
   color: #000;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    text-align: center;
    color: #000;
  }
  
  .auth h1 {
    text-align: center;
   color: #007bff;
  }
  
  .control {
    margin-bottom: 0.5rem;
  }
  
  .control label {
    display: block;
  
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .control input {
    font: inherit;
   color: #000;
    border-radius: 4px;
    width: 100%;
    text-align: left;
    padding: 0.25rem;
  }
  
  .actions {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .actions button {
    cursor: pointer;
    font: inherit;
   color: #ffffff;
   
   
    border-radius: 4px;
    padding: 0.5rem 2.5rem;
  }
  
  .actions button:hover {
    background-color: #005aba;
    border-color: #56CCF2;
  }
  .actions .toggle {
    margin-top: 1rem;
    background-color: transparent;
  color: #000;
    border: none;
    padding: 0.15rem 1.5rem;
  }
  
  .actions .toggle:hover {
    background-color: transparent;
    color: #56CCF2;
  }
  .form_group {
    position: relative;
    margin-bottom: 20px;
  }

  .form_group label {
    position: absolute;
    top: 10px;
    left: 15px;
    color: #999;
    transition: 0.3s;
    pointer-events: none;
  }

  .form_group input:focus + label,
  .form_group input:not(:placeholder-shown) + label {
    top: -1px;
    font-size: 12px;
    color: #007bff;
  }

  .form_group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
  }

  .signup_link {
    margin-top: 15px;
    text-align: center;
  }
  .btn-block {
    display: block;
    width: 100%;
}